body{
    font-family: 'Tangerine', cursive;
font-size: 55;
margin:0;
height:100%;
overflow:hidden;
}

.center {
    text-align: center;
    vertical-align: middle;
    margin-top: 10%;
}

.center p {

    vertical-align: middle;
}

p.meanwhile{
    margin-top: 40%;
    font-family: 'Raleway', sans-serif;
    font-size: 12;
}
.clock {
color: turquoise;
text-align: center;
    vertical-align: middle;
    font-family: 'Raleway', sans-serif;
    font-size: 16;
    margin-top: 7.5%;
}
    
p.copyrights{
        font-family: 'Raleway', sans-serif;
        font-size: 12;
        font-weight: 100;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
 
