body{
    font-family: 'Tangerine', cursive;
font-size: 50;
margin:0;
height:100%;
overflow:hidden;
}


.center {
    text-align: center;
    vertical-align: middle;
}

.center p {

    vertical-align: middle;
}

p.meanwhile{
    font-family: 'Raleway', sans-serif;
    font-size: 12;}
    
p.copyrights{
        font-family: 'Raleway', sans-serif;
        font-size: 12;
        font-weight: 100;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
 
