body{
    font-family: 'Tangerine', cursive;
font-size: 50;
}

div{
  position: absolute;
margin: auto;
top: 0;
right: 0;
bottom: 0;
left: 0;
width: 50%;
height:50%;
text-align: center;
margin-top: 30%;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.center p {

    vertical-align: middle;
}

img {
    display: block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
